/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj

.clj-kondo/.cache
.lsp
.calva


# frontend

/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache and configs from libs
/.clj-kondo/*

# clj-kondo config
!/.clj-kondo/config.edn

# clojure-lsp cache
/.lsp/.cache
