{:nrepl {:port 8777}
 :jvm-opts ["-Xmx1G"]
 :lein true
 :builds
 {:app
  {:target     :browser
   :output-dir "resources/money_clip/public/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn money-clip.app/init}}
   :devtools
   {:preloads [day8.re-frame-10x.preload]
    :watch-dir "resources/money_clip/public"}
   :dev
   {:compiler-options
    {:closure-defines
     {re-frame.trace.trace-enabled? true
      day8.re-frame.tracing.trace-enabled? true}}}
   :release
   {:build-options
    {:ns-aliases
     {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}
  :browser-test
  {:target    :browser-test
   :ns-regexp "-test$"
   :runner-ns shadow.test.browser
   :test-dir  "target/browser-test"}
  :karma-test
  {:target    :karma
   :ns-regexp "-test$"
   :output-to "target/karma-test.js"}}}
