;; See https://github.com/clj-kondo/clj-kondo/blob/master/doc/linters.md for reference
{:linters 
 {:unresolved-var {:exclude [money-clip.http/GET
                             money-clip.http/POST
                             oney-clip.http/PUT
                             money-clip.http/DELETE]}
  :unresolved-symbol {:exclude [(money-clip.handler.users/user-resource)
                                (money-clip.handler.bank-accounts/bank-account-resource)
                                (money-clip.handler.restful.rest-test/bank-account-resource)]}
  :unused-private-var {:exclude [money-clip.handler.users/user
                                 money-clip.handler.bank-accounts/bank-account]}}
 :lint-as {money-clip.handler.restful.rest/defresource clojure.core/declare}}
