{:duct.profile/base
 {:duct.core/project-ns money-clip

  :duct.router/ataraxy
  {:routes
   {[:post "/users" {{:keys [email password password-confirmation first-name last-name]} :body-params}]
    [:money-clip.handler.users/create email password password-confirmation first-name last-name]

    [:post "/login" {{:keys [email password]} :body-params}]
    [:money-clip.handler.users/login email password]

    [:get "/user"]
    ^:auth/authorize ^:auth/id [:money-clip.handler.users/user]

    [:post "/bank-accounts" {{:keys [name ?bank-name]} :body-params}]
    ^:auth/authorize ^:auth/id [:money-clip.handler.bank-accounts/create name ?bank-name]

    [:get "/bank-accounts"]
    ^:auth/authorize ^:auth/id [:money-clip.handler.bank-accounts/user-bank-accounts]

    [:get "/bank-accounts/" id]
    ^:auth/authorize ^:auth/id [:money-clip.handler.bank-accounts/user-bank-account ^int id]}

   :middleware
   {:auth/authorize #ig/ref :money-clip.duct.middleware/authorize
    :auth/id #ig/ref :duct.middleware.buddy/authentication}}

  :duct.handler/root
  {:middleware [#ig/ref :duct.middleware.buddy/authorization #ig/ref :money-clip.duct.middleware/error-handler]}

  :money-clip.handler.users/create
  {:db #ig/ref :duct.database/sql}

  :money-clip.handler.users/login
  {:db #ig/ref :duct.database/sql :jwt-secret #duct/env "JWT_SECRET"}

  :money-clip.handler.users/user
  {:db #ig/ref :duct.database/sql}

  :money-clip.handler.bank-accounts/create
  {:db #ig/ref :duct.database/sql}

  :money-clip.handler.bank-accounts/user-bank-accounts
  {:db #ig/ref :duct.database/sql}

  :money-clip.handler.bank-accounts/user-bank-account
  {:db #ig/ref :duct.database/sql}

  :duct.middleware.buddy/authentication
  {:backend :jws :secret #duct/env "JWT_SECRET"}

  :duct.middleware.buddy/authorization
  {:backend :jws :unauthorized-handler #ig/ref :money-clip.duct.middleware/unauthorized-handler}

  :money-clip.duct.middleware/authorize {}

  :money-clip.duct.middleware/error-handler {}

  :money-clip.duct.middleware/unauthorized-handler {}

  :duct.migrator/ragtime
  {:migrations #ig/ref :duct.migrator.ragtime/resources}

  :duct.migrator.ragtime/resources
  {:path "money_clip/migrations"}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/test  #duct/include "test"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}}
