{:duct.profile/base
 {:duct.core/project-ns money-clip

  :duct.router/ataraxy
  {:routes
   {[:get "/example"] 
    [:money-clip.handler/example]

    [:post "/users" {{:keys [email password first-name last-name]} :body-params}]
    [:money-clip.handler.users/create email password first-name last-name]}}

  :money-clip.handler/example
  {:db #ig/ref :duct.database/sql}

  :money-clip.handler.users/create
  {:db #ig/ref :duct.database/sql}

  :duct.migrator/ragtime
  {:migrations #ig/ref :duct.migrator.ragtime/resources}

  :duct.migrator.ragtime/resources
  {:path "money_clip/migrations"}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}}
